<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="com.boxfuse.cloudwatchlogs.log4j2">
    <Appenders>

        <Boxfuse-CloudwatchLogs>
            <!-- Optional config parameters -->

            <!-- Whether to fall back to stdout instead of disabling the appender when running outside of a Boxfuse instance. Default: false -->
            <stdoutFallback>false</stdoutFallback>
            <!-- The maximum size of the async log event queue. Default: 1000000.
                 Increase to avoid dropping log events at very high throughput.
                 Decrease to reduce maximum memory usage at the risk if the occasional log event drop when it gets full. -->
            <maxEventQueueSize>1000000</maxEventQueueSize>
        </Boxfuse-CloudwatchLogs>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Boxfuse-CloudwatchLogs"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
